body{
    background-color:lightgoldenrodyellow;
    font-style: italic;

    margin:0;
    padding:0;
}


@media screen and (max-width:600px){
    div.grid-container{ /* grid-container für kleine bildschirme bswp handy*/
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}
#samstag{
    color: blue;
}
#sonntag{
    color: red;
}
td:hover{
    background-color: yellow;
}
table{
    border: solid;
    border-collapse: collapse;
    text-align:center;
    
}
th,tr,td{
    border: solid;
    border-color: black;
    text-align:center;
}
th{
    width:35px;
}
#heute{
    color: green;
}


.grid-container {
     display: grid;
     grid-template-columns: 1fr 1fr; /* zwei spalten oben */
     grid-template-rows: auto auto; /*reihe oben und reihe unten */
     gap: 10px; 
}

.item1 {
    grid-column:1; /* links oben */
}

.item2 {
     grid-column:2; /* rechts oben */
}

.item3 {
    grid-column:1 / span 2; /* unten über beide spalten */
}